.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #ebae98b9;
  min-height: 100vh;
}



.App-header {
  background-color: #fa5a20;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-family: 'Overpass', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: calc(45px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-subheader {
  background-color: #dbdbdba1;
  font-size: calc(6px + 2vmin);

  font-family: 'Overpass', sans-serif;

}

.App-link {
  color: #61dafb;
}

.Subreddit-list{
  background-color: black;
}


